In [88]:
import requests
import pandas as pd
import json
from config import API_Key
import csv
import numpy as np
import pprint
from pandas.io.json import json_normalize

In [52]:
# df = pd.read_csv('data/Satellite-Exploration-CSV.csv')

In [53]:
# df

,name,satid,source,launchsite,lat,long
0,HYSIS,43719,India,SRIHARIKOTA (SRI),13.72590,80.2266
1,GAOFEN-5,43461,People's Republic of China,"Taiyuan Space Center, China (TSC)",38.84280,111.6051
2,NUSAT 5,43204,Argentina,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
3,NUSAT 4,43195,Argentina,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
4,VRSS-2,42954,Venezuela,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
...,...,...,...,...,...,...
144,LANDSAT 4,13367,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
145,SEASAT 1,10967,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
146,LANDSAT 3,10702,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
147,LANDSAT 2,7615,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
148,LANDSAT 1,6126,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580

In [54]:
# df.set_index(["name"])

,satid,source,launchsite,lat,long
name,,,,,
HYSIS,43719,India,SRIHARIKOTA (SRI),13.72590,80.2266
GAOFEN-5,43461,People's Republic of China,"Taiyuan Space Center, China (TSC)",38.84280,111.6051
NUSAT 5,43204,Argentina,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
NUSAT 4,43195,Argentina,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
VRSS-2,42954,Venezuela,"Jiuquan Satellite Launch Center, China (JSC)",40.98450,100.2087
...,...,...,...,...,...
LANDSAT 4,13367,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
SEASAT 1,10967,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
LANDSAT 3,10702,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
LANDSAT 2,7615,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580
LANDSAT 1,6126,United States,AIR FORCE WESTERN TEST RANGE (AFWTR),32.84256,-112.2580

In [55]:
array = np.array(df)
id= array[:,1]

print(id)

[43719 43461 43204 43195 42954 42901 42063 41898 41877 41848 41599 41558
 41558 41557 41557 41556 41456 41386 41335 40968 40931 40701 40697 40536
 40360 40336 40118 40072 40053 39766 39731 39455 39422 39419 39418 39186
 39160 39159 39150 39086 39084 39030 38782 38755 38708 38707 38248 38038
 37794 37781 37387 36985 36795 36795 36415 36414 36413 36121 36110 35931
 35870 34839 33331 33105 32783 32476 32382 29710 29709 29268 29228 29079
 28931 28893 28891 28649 28220 28376 28254 28220 28057 28051 27840 27597
 27559 27430 27424 27421 27386 27004 27003 27001 26997 26957 26620 26619
 26548 26032 25994 25940 25919 25860 25789 25758 25757 25756 25693 25682
 25636 25616 25504 25397 25396 25395 25394 25260 24971 24883 24277 23940
 23827 23751 23710 23657 23560 23342 23323 23317 22823 22076 21688 21574
 21397 20510 20478 20436 19274 18960 18214 17527 16881 16613 15331 14780
 13367 10967 10702 7615 6126]

In [77]:
# satellites = []
# for x in id:
#     base_url = f"https://api.n2yo.com/rest/v1/satellite/positions/{x}/40.0583/74.4057/0/1/&apiKey=RSNS74-FAEMYM-S26ZDF-4LIZ"
#     response = requests.get(base_url)
#     data = response.json()
#     satellite_x = json.dumps(data, sort_keys=True,separators=(',', ': '))
#     satellites.append(satellite_x.strip())

In [82]:
satellites = []
for x in id:
    base_url = f"https://api.n2yo.com/rest/v1/satellite/positions/{x}/40.0583/74.4057/0/1/&apiKey=RSNS74-FAEMYM-S26ZDF-4LIZ"
    response = requests.get(base_url)
    data = response.json()
    satellite_data = data
    satellites.append(satellite_data)

In [83]:
satellites=satellites

satellites

[{'info': {'satname': 'HYSIS', 'satid': 43719, 'transactionscount': 447},
  'positions': [{'satlatitude': -39.51716233,
    'satlongitude': -45.80802678,
    'sataltitude': 651.22,
    'azimuth': 250.87,
    'elevation': -66.32,
    'ra': 21.18413333,
    'dec': -43.78267554,
    'timestamp': 1607045295,
    'eclipsed': True}]},
 {'info': {'satname': 'GAOFEN-5', 'satid': 43461, 'transactionscount': 448},
  'positions': [{'satlatitude': -30.80012755,
    'satlongitude': -6.47883252,
    'sataltitude': 711.32,
    'azimuth': 240.79,
    'elevation': -49.08,
    'ra': 46.54701039,
    'dec': -47.01477833,
    'timestamp': 1607045295,
    'eclipsed': True}]},
 {'info': {'satname': 'NUSAT 5', 'satid': 43204, 'transactionscount': 449},
  'positions': [{'satlatitude': -56.58486844,
    'satlongitude': 23.1487831,
    'sataltitude': 510.83,
    'azimuth': 206.71,
    'elevation': -51.3,
    'ra': 39.4021953,
    'dec': -68.51037878,
    'timestamp': 1607045296,
    'eclipsed': False}]},
 {'info': {'satname': 'NUSAT 4', 'satid': 43195, 'transactionscount': 450},
  'positions': [{'satlatitude': 68.50928381,
    'satlongitude': -149.20508347,
    'sataltitude': 505.93,
    'azimuth': 16,
    'elevation': -30.06,
    'ra': 335.04996702,
    'dec': 18.25481316,
    'timestamp': 1607045297,
    'eclipsed': False}]},
 {'info': {'satname': 'VRSS-2', 'satid': 42954, 'transactionscount': 451},
  'positions': [{'satlatitude': 54.38645184,
    'satlongitude': 147.04375733,
    'sataltitude': 641.53,
    'azimuth': 47.48,
    'elevation': -18.51,
    'ra': 302.79639022,
    'dec': 16.60975757,
    'timestamp': 1607045297,
    'eclipsed': False}]},
 {'info': {'satname': 'VENUS', 'satid': 42901, 'transactionscount': 452},
  'positions': [{'satlatitude': 10.46963399,
    'satlongitude': -46.6565577,
    'sataltitude': 694.96,
    'azimuth': 299.04,
    'elevation': -50.59,
    'ra': 24.66730115,
    'dec': -15.29040616,
    'timestamp': 1607045298,
    'eclipsed': True}]},
 {'info': {'satname': 'SENTINEL 2B', 'satid': 42063, 'transactionscount': 453},
  'positions': [{'satlatitude': -39.40989957,
    'satlongitude': 128.3719862,
    'sataltitude': 804.7,
    'azimuth': 141.04,
    'elevation': -43.53,
    'ra': 279.12689736,
    'dec': -60.99740081,
    'timestamp': 1607045298,
    'eclipsed': False}]},
 {'info': {'satname': 'TANSAT', 'satid': 41898, 'transactionscount': 454},
  'positions': [{'satlatitude': 12.23213982,
    'satlongitude': -177.41321757,
    'sataltitude': 697.87,
    'azimuth': 68.79,
    'elevation': -45.05,
    'ra': 306.52409015,
    'dec': -15.16761593,
    'timestamp': 1607045299,
    'eclipsed': False}]},
 {'info': {'satname': 'RESOURCESAT 2A',
   'satid': 41877,
   'transactionscount': 455},
  'positions': [{'satlatitude': -29.90764131,
    'satlongitude': -42.03484337,
    'sataltitude': 831.92,
    'azimuth': 260.63,
    'elevation': -62.28,
    'ra': 25.70859887,
    'dec': -39.01701803,
    'timestamp': 1607045299,
    'eclipsed': True}]},
 {'info': {'satname': 'WORLDVIEW-4', 'satid': 41848, 'transactionscount': 456},
  'positions': [{'satlatitude': -37.33779839,
    'satlongitude': 10.58413593,
    'sataltitude': 415.8,
    'azimuth': 226.21,
    'elevation': -46.89,
    'ra': 52.38052776,
    'dec': -56.39141583,
    'timestamp': 1607045300,
    'eclipsed': True}]},
 {'info': {'satname': 'CARTOSAT 2C', 'satid': 41599, 'transactionscount': 457},
  'positions': [{'satlatitude': -25.95337303,
    'satlongitude': 116.9825546,
    'sataltitude': 525.08,
    'azimuth': 141.18,
    'elevation': -35.62,
    'ra': 263.62527096,
    'dec': -59.21213985,
    'timestamp': 1607045301,
    'eclipsed': False}]},
 {'info': {'satname': 'NUSAT 2 (BATATA)',
   'satid': 41558,
   'transactionscount': 458},
  'positions': [{'satlatitude': 40.79333201,
    'satlongitude': 162.15250238,
    'sataltitude': 475.66,
    'azimuth': 57.56,
    'elevation': -28.54,
    'ra': 301.65593907,
    'dec': 3.03870312,
    'timestamp': 1607045301,
    'eclipsed': False}]},
 {'info': {'satname': 'NUSAT 2 (BATATA)',
   'satid': 41558,
   'transactionscount': 459},
  'positions': [{'satlatitude': 40.73029555,
    'satlongitude': 162.13403779,
    'sataltitude': 475.64,
    'azimuth': 57.63,
    'elevation': -28.55,
    'ra': 301.62213728,
    'dec': 2.99110115,
    'timestamp': 1607045302,
    'eclipsed': False}]},
 {'info': {'satname': 'NUSAT 1 (FRESCO)',
   'satid': 41557,
   'transactionscount': 460},
  'positions': [{'satlatitude': 15.34514803,
    'satlongitude': 154.80909547,
    'sataltitude': 475.57,
    'azimuth': 83.94,
    'elevation': -33.66,
    'ra': 289.69521549,
    'dec': -16.82011337,
    'timestamp': 1607045302,
    'eclipsed': False}]},
 {'info': {'satname': 'NUSAT 1 (FRESCO)',
   'satid': 41557,
   'transactionscount': 461},
  'positions': [{'satlatitude': 15.28155166,
    'satlongitude': 154.79609178,
    'sataltitude': 475.56,
    'azimuth': 84,
    'elevation': -33.68,
    'ra': 289.6808039,
    'dec': -16.86969758,
    'timestamp': 1607045303,
    'eclipsed': False}]},
 {'info': {'satname': 'ZIYUAN 3-2', 'satid': 41556, 'transactionscount': 462},
  'positions': [{'satlatitude': 12.8844471,
    'satlongitude': -46.81030715,
    'sataltitude': 505.38,
    'azimuth': 300.84,
    'elevation': -50.29,
    'ra': 24.03996742,
    'dec': -14.29022531,
    'timestamp': 1607045304,
    'eclipsed': True}]},
 {'info': {'satname': 'SENTINEL 1B', 'satid': 41456, 'transactionscount': 463},
  'positions': [{'satlatitude': 44.83947509,
    'satlongitude': -120.15554472,
    'sataltitude': 701.8,
    'azimuth': 10.3,
    'elevation': -44.28,
    'ra': 342.19753639,
    'dec': 5.00652033,
    'timestamp': 1607045305,
    'eclipsed': False}]},
 {'info': {'satname': 'RESURS P3', 'satid': 41386, 'transactionscount': 464},
  'positions': [{'satlatitude': 12.4072337,
    'satlongitude': 149.94168628,
    'sataltitude': 467.8,
    'azimuth': 89.42,
    'elevation': -32.66,
    'ra': 285.97568865,
    'dec': -19.90683604,
    'timestamp': 1607045305,
    'eclipsed': False}]},
 {'info': {'satname': 'SENTINEL-3A', 'satid': 41335, 'transactionscount': 465},
  'positions': [{'satlatitude': -60.5881931,
    'satlongitude': -36.56732285,
    'sataltitude': 826.77,
    'azimuth': 219.99,
    'elevation': -65.61,
    'ra': 17.87997474,
    'dec': -56.0674677,
    'timestamp': 1607045306,
    'eclipsed': False}]},
 {'info': {'satname': 'BISONSAT', 'satid': 40968, 'transactionscount': 466},
  'positions': [{'satlatitude': 64.04342614,
    'satlongitude': -21.46264056,
    'sataltitude': 631.76,
    'azimuth': 328.69,
    'elevation': -23.57,
    'ra': 19.96564355,
    'dec': 19.8817275,
    'timestamp': 1607045306,
    'eclipsed': True}]},
 {'info': {'satname': 'LAPAN A2 (IO-86)',
   'satid': 40931,
   'transactionscount': 467},
  'positions': [{'satlatitude': -5.81902648,
    'satlongitude': 5.16144549,
    'sataltitude': 638.88,
    'azimuth': 252.07,
    'elevation': -35.7,
    'ra': 59.30527516,
    'dec': -34.57483866,
    'timestamp': 1607045307,
    'eclipsed': True}]},
 {'info': {'satname': 'GAOFEN 8', 'satid': 40701, 'transactionscount': 468},
  'positions': [{'satlatitude': 42.54337697,
    'satlongitude': -167.4698045,
    'sataltitude': 505.69,
    'azimuth': 41.25,
    'elevation': -37.54,
    'ra': 318.01736026,
    'dec': 3.6271236,
    'timestamp': 1607045307,
    'eclipsed': False}]},
 {'info': {'satname': 'SENTINEL 2A', 'satid': 40697, 'transactionscount': 469},
  'positions': [{'satlatitude': 39.78983235,
    'satlongitude': -51.76676578,
    'sataltitude': 794.08,
    'azimuth': 321.57,
    'elevation': -39.57,
    'ra': 18.27589085,
    'dec': 2.84629643,
    'timestamp': 1607045308,
    'eclipsed': True}]},
 {'info': {'satname': 'KOMPSAT 3A', 'satid': 40536, 'transactionscount': 470},
  'positions': [{'satlatitude': 12.72591801,
    'satlongitude': 179.49008431,
    'sataltitude': 531.41,
    'azimuth': 70.48,
    'elevation': -44.3,
    'ra': 305.14837037,
    'dec': -15.55471721,
    'timestamp': 1607045309,
    'eclipsed': False}]},
 {'info': {'satname': 'RESURS P2', 'satid': 40360, 'transactionscount': 471},
  'positions': [{'satlatitude': -44.4145407,
    'satlongitude': -23.80162911,
    'sataltitude': 476.44,
    'azimuth': 236.74,
    'elevation': -59.81,
    'ra': 30.6154576,
    'dec': -50.25124747,
    'timestamp': 1607045309,
    'eclipsed': True}]},
 {'info': {'satname': 'CBERS-4', 'satid': 40336, 'transactionscount': 472},
  'positions': [{'satlatitude': 43.56884247,
    'satlongitude': -54.35242494,
    'sataltitude': 779.46,
    'azimuth': 325.41,
    'elevation': -38.61,
    'ra': 16.06451496,
    'dec': 5.05522459,
    'timestamp': 1607045310,
    'eclipsed': True}]},
 {'info': {'satname': 'GAOFEN 2', 'satid': 40118, 'transactionscount': 473},
  'positions': [{'satlatitude': -74.17876128,
    'satlongitude': 108.04770112,
    'sataltitude': 654.53,
    'azimuth': 170.21,
    'elevation': -56.56,
    'ra': 331.35336652,
    'dec': -72.40119445,
    'timestamp': 1607045311,
    'eclipsed': False}]},
 {'info': {'satname': 'SKYSAT 2', 'satid': 40072, 'transactionscount': 474},
  'positions': [{'satlatitude': 69.80260951,
    'satlongitude': 47.58041481,
    'sataltitude': 638.5,
    'azimuth': 343.28,
    'elevation': -7.28,
    'ra': 11.57369056,
    'dec': 40.13247585,
    'timestamp': 1607045311,
    'eclipsed': True}]},
 {'info': {'satname': 'SPOT 7', 'satid': 40053, 'transactionscount': 475},
  'positions': [{'satlatitude': -18.81159405,
    'satlongitude': 125.09227619,
    'sataltitude': 705.27,
    'azimuth': 130.63,
    'elevation': -33.81,
    'ra': 266.47248264,
    'dec': -50.49959585,
    'timestamp': 1607045312,
    'eclipsed': False}]},
 {'info': {'satname': 'ALOS 2', 'satid': 39766, 'transactionscount': 476},
  'positions': [{'satlatitude': -27.60869363,
    'satlongitude': -18.07826656,
    'sataltitude': 641.87,
    'azimuth': 249.85,
    'elevation': -52.58,
    'ra': 39.98780496,
    'dec': -42.29672949,
    'timestamp': 1607045312,
    'eclipsed': True}]},
 {'info': {'satname': 'KAZEOSAT 1', 'satid': 39731, 'transactionscount': 477},
  'positions': [{'satlatitude': 23.13735094,
    'satlongitude': 135.76200905,
    'sataltitude': 754.12,
    'azimuth': 88.71,
    'elevation': -20.63,
    'ra': 276.45055731,
    'dec': -12.10930344,
    'timestamp': 1607045313,
    'eclipsed': False}]},
 {'info': {'satname': 'SHIYAN-5 (SY-5)',
   'satid': 39455,
   'transactionscount': 478},
  'positions': [{'satlatitude': -38.24400757,
    'satlongitude': 173.80239651,
    'sataltitude': 751.33,
    'azimuth': 116.45,
    'elevation': -58.03,
    'ra': 305.91509414,
    'dec': -46.68877732,
    'timestamp': 1607045313,
    'eclipsed': False}]},
 {'info': {'satname': 'STSAT 3', 'satid': 39422, 'transactionscount': 479},
  'positions': [{'satlatitude': -1.70786964,
    'satlongitude': 87.51130382,
    'sataltitude': 617.27,
    'azimuth': 160.67,
    'elevation': -15.07,
    'ra': 209.05513975,
    'dec': -59.70528951,
    'timestamp': 1607045314,
    'eclipsed': False}]},
 {'info': {'satname': 'DUBAISAT 2', 'satid': 39419, 'transactionscount': 480},
  'positions': [{'satlatitude': -48.24236452,
    'satlongitude': 102.30179787,
    'sataltitude': 610.66,
    'azimuth': 161.72,
    'elevation': -43.31,
    'ra': 278.42019837,
    'dec': -75.99512508,
    'timestamp': 1607045315,
    'eclipsed': False}]},
 {'info': {'satname': 'SKYSAT 1', 'satid': 39418, 'transactionscount': 481},
  'positions': [{'satlatitude': 10.7883605,
    'satlongitude': 140.732163,
    'sataltitude': 586.27,
    'azimuth': 96.87,
    'elevation': -28.54,
    'ra': 278.44730508,
    'dec': -22.79076251,
    'timestamp': 1607045315,
    'eclipsed': False}]},
 {'info': {'satname': 'RESURS P1', 'satid': 39186, 'transactionscount': 482},
  'positions': [{'satlatitude': -36.36738309,
    'satlongitude': 119.41486608,
    'sataltitude': 467.1,
    'azimuth': 145.03,
    'elevation': -41.3,
    'ra': 273.53690416,
    'dec': -63.6056298,
    'timestamp': 1607045316,
    'eclipsed': False}]},
 {'info': {'satname': 'VNREDSAT 1', 'satid': 39160, 'transactionscount': 483},
  'positions': [{'satlatitude': -60.67940183,
    'satlongitude': -27.46303929,
    'sataltitude': 707.71,
    'azimuth': 218.82,
    'elevation': -63.48,
    'ra': 20.93022066,
    'dec': -57.50500568,
    'timestamp': 1607045316,
    'eclipsed': False}]},
 {'info': {'satname': 'PROBA V', 'satid': 39159, 'transactionscount': 484},
  'positions': [{'satlatitude': 46.93089917,
    'satlongitude': 123.3698213,
    'sataltitude': 824.64,
    'azimuth': 62.32,
    'elevation': -7.09,
    'ra': 283.72898359,
    'dec': 15.9047699,
    'timestamp': 1607045317,
    'eclipsed': False}]},
 {'info': {'satname': 'GAOFEN 1', 'satid': 39150, 'transactionscount': 485},
  'positions': [{'satlatitude': -79.39673039,
    'satlongitude': 3.09168946,
    'sataltitude': 656.12,
    'azimuth': 192.55,
    'elevation': -61.65,
    'ra': 4.95594454,
    'dec': -67.23028424,
    'timestamp': 1607045317,
    'eclipsed': False}]},
 {'info': {'satname': 'SARAL', 'satid': 39086, 'transactionscount': 486},
  'positions': [{'satlatitude': 33.60411602,
    'satlongitude': -107.73840615,
    'sataltitude': 788.36,
    'azimuth': 1.86,
    'elevation': -50.65,
    'ra': 348.45510571,
    'dec': -0.80316883,
    'timestamp': 1607045318,
    'eclipsed': False}]},
 {'info': {'satname': 'LANDSAT 8', 'satid': 39084, 'transactionscount': 487},
  'positions': [{'satlatitude': -74.40681593,
    'satlongitude': 100.06829765,
    'sataltitude': 730.64,
    'azimuth': 172.51,
    'elevation': -55.99,
    'ra': 334.63655017,
    'dec': -73.43304095,
    'timestamp': 1607045319,
    'eclipsed': False}]},
 {'info': {'satname': 'GOKTURK 2', 'satid': 39030, 'transactionscount': 488},
  'positions': [{'satlatitude': -11.21977179,
    'satlongitude': -54.17940883,
    'sataltitude': 658.48,
    'azimuth': 287.97,
    'elevation': -61.71,
    'ra': 20.06918101,
    'dec': -27.12830318,
    'timestamp': 1607045319,
    'eclipsed': True}]},
 {'info': {'satname': 'VRSS-1', 'satid': 38782, 'transactionscount': 489},
  'positions': [{'satlatitude': 53.53055746,
    'satlongitude': 127.74843459,
    'sataltitude': 660.7,
    'azimuth': 50.98,
    'elevation': -10.8,
    'ra': 295.11331692,
    'dec': 20.65755549,
    'timestamp': 1607045320,
    'eclipsed': False}]},
 {'info': {'satname': 'SPOT 6', 'satid': 38755, 'transactionscount': 490},
  'positions': [{'satlatitude': 22.79815994,
    'satlongitude': -55.91430024,
    'sataltitude': 700.32,
    'azimuth': 314.12,
    'elevation': -48.54,
    'ra': 18.29611858,
    'dec': -7.58315399,
    'timestamp': 1607045320,
    'eclipsed': True}]},
 {'info': {'satname': 'BKA 2', 'satid': 38708, 'transactionscount': 491},
  'positions': [{'satlatitude': 13.7807522,
    'satlongitude': -31.9205577,
    'sataltitude': 507.87,
    'azimuth': 291.12,
    'elevation': -44.49,
    'ra': 33.13778666,
    'dec': -14.78815283,
    'timestamp': 1607045321,
    'eclipsed': True}]},
 {'info': {'satname': 'KANOPUS-V 1', 'satid': 38707, 'transactionscount': 492},
  'positions': [{'satlatitude': -78.76444822,
    'satlongitude': -158.6887159,
    'sataltitude': 536.63,
    'azimuth': 166.87,
    'elevation': -67.25,
    'ra': 338.90648058,
    'dec': -61.96633921,
    'timestamp': 1607045322,
    'eclipsed': False}]},
 {'info': {'satname': 'RISAT 1', 'satid': 38248, 'transactionscount': 493},
  'positions': [{'satlatitude': -66.57992717,
    'satlongitude': -91.53964825,
    'sataltitude': 561.74,
    'azimuth': 192.19,
    'elevation': -75.73,
    'ra': 354.70998309,
    'dec': -54.06050706,
    'timestamp': 1607045322,
    'eclipsed': False}]},
 {'info': {'satname': 'ZY 1', 'satid': 38038, 'transactionscount': 494},
  'positions': [{'satlatitude': -28.30091711,
    'satlongitude': 112.62978886,
    'sataltitude': 784.45,
    'azimuth': 145.84,
    'elevation': -34.33,
    'ra': 258.38892406,
    'dec': -62.30850496,
    'timestamp': 1607045323,
    'eclipsed': False}]},
 {'info': {'satname': 'SICH 2', 'satid': 37794, 'transactionscount': 495},
  'positions': [{'satlatitude': -64.33860155,
    'satlongitude': -48.89635553,
    'sataltitude': 720.52,
    'azimuth': 214.34,
    'elevation': -68.79,
    'ra': 11.04271652,
    'dec': -56.10089815,
    'timestamp': 1607045323,
    'eclipsed': False}]},
 {'info': {'satname': 'HAIYANG 2A', 'satid': 37781, 'transactionscount': 496},
  'positions': [{'satlatitude': 15.15990252,
    'satlongitude': -114.31846966,
    'sataltitude': 970.63,
    'azimuth': 10.17,
    'elevation': -59.89,
    'ra': 344.48547515,
    'dec': -10.44486701,
    'timestamp': 1607045324,
    'eclipsed': False}]},
 {'info': {'satname': 'RESOURCESAT 2',
   'satid': 37387,
   'transactionscount': 497},
  'positions': [{'satlatitude': 78.30532995,
    'satlongitude': -177.46100878,
    'sataltitude': 834.78,
    'azimuth': 13.73,
    'elevation': -20.43,
    'ra': 335.14041709,
    'dec': 28.06765024,
    'timestamp': 1607045324,
    'eclipsed': False}]},
 {'info': {'satname': 'TIANHUI 1', 'satid': 36985, 'transactionscount': 498},
  'positions': [{'satlatitude': -77.57705512,
    'satlongitude': 110.4695075,
    'sataltitude': 540.95,
    'azimuth': 171.54,
    'elevation': -58.58,
    'ra': 336.11925223,
    'dec': -70.78976298,
    'timestamp': 1607045325,
    'eclipsed': False}]},
 {'info': {'satname': 'CARTOSAT 2B', 'satid': 36795, 'transactionscount': 499},
  'positions': [{'satlatitude': -47.50899199,
    'satlongitude': 111.47303139,
    'sataltitude': 643.9,
    'azimuth': 155.77,
    'elevation': -44.19,
    'ra': 280.19253104,
    'dec': -71.6305936,
    'timestamp': 1607045325,
    'eclipsed': False}]},
 {'info': {'satname': 'CARTOSAT 2B', 'satid': 36795, 'transactionscount': 500},
  'positions': [{'satlatitude': -47.56929285,
    'satlongitude': 111.45039381,
    'sataltitude': 643.92,
    'azimuth': 155.82,
    'elevation': -44.22,
    'ra': 280.28387009,
    'dec': -71.6585621,
    'timestamp': 1607045326,
    'eclipsed': False}]},
 {'info': {'satname': 'YAOGAN 9C', 'satid': 36415, 'transactionscount': 501},
  'positions': [{'satlatitude': 57.04509411,
    'satlongitude': 129.49289032,
    'sataltitude': 958.54,
    'azimuth': 45.33,
    'elevation': -8.27,
    'ra': 298.04635517,
    'dec': 26.04173177,
    'timestamp': 1607045326,
    'eclipsed': False}]},
 {'info': {'satname': 'YAOGAN 9B', 'satid': 36414, 'transactionscount': 502},
  'positions': [{'satlatitude': 55.19600406,
    'satlongitude': 124.38396194,
    'sataltitude': 947.67,
    'azimuth': 48.15,
    'elevation': -5.98,
    'ra': 294.01077113,
    'dec': 26.10287773,
    'timestamp': 1607045327,
    'eclipsed': False}]},
 {'info': {'satname': 'YAOGAN 9A', 'satid': 36413, 'transactionscount': 503},
  'positions': [{'satlatitude': 39.68188557,
    'satlongitude': 103.46227127,
    'sataltitude': 873.64,
    'azimuth': 81.51,
    'elevation': 6.97,
    'ra': 259.65922627,
    'dec': 10.89444377,
    'timestamp': 1607045327,
    'eclipsed': False}]},
 {'info': {'satname': 'YAOGAN 8', 'satid': 36121, 'transactionscount': 504},
  'positions': [{'satlatitude': -47.36566136,
    'satlongitude': 3.77573316,
    'sataltitude': 1249.03,
    'azimuth': 222.32,
    'elevation': -50.04,
    'ra': 46.83856007,
    'dec': -59.01481763,
    'timestamp': 1607045328,
    'eclipsed': False}]},
 {'info': {'satname': 'YAOGAN 7', 'satid': 36110, 'transactionscount': 505},
  'positions': [{'satlatitude': 21.90994626,
    'satlongitude': 79.47161505,
    'sataltitude': 629.35,
    'azimuth': 165.1,
    'elevation': 6.71,
    'ra': 189.52420121,
    'dec': -41.22222359,
    'timestamp': 1607045328,
    'eclipsed': False}]},
 {'info': {'satname': 'OCEANSAT 2', 'satid': 35931, 'transactionscount': 506},
  'positions': [{'satlatitude': 28.99459624,
    'satlongitude': 160.93949364,
    'sataltitude': 726.44,
    'azimuth': 68.85,
    'elevation': -30.22,

In [ ]:
#  def Convert(satellites):
# #     it = iter(satellites)
# #     res_dct = dict(zip(it,it))
# #     return res_dct
# # lst = satellites
# # print(Convert(lst))

In [85]:
with open('app.geojson', 'a+') as f:
   json.dump(satellites,f)