# SQLAlchemy Joins

## Setup

In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
from sqlalchemy import create_engine
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from sql_keys import username, password

In [2]:
#rds_connection_string = "postgres:bootcamp@localhost:5432/satellite"
#<insert password>@localhost:5432/customer_db"
#engine = create_engine(f'postgresql://{rds_connection_string}')
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/satellite')

In [3]:
pd.read_sql_query("select * from country where country_code in ('US','CIS')", con=engine).head()

,country,country_code,number_of_satellites
0,COMMONWEALTH OF INDEPENDENT STATES (FORMER USSR),CIS,1532
1,UNITED STATES,US,2821
2,COMMONWEALTH OF INDEPENDENT STATES (FORMER USSR),CIS,1532
3,UNITED STATES,US,2821
4,COMMONWEALTH OF INDEPENDENT STATES (FORMER USSR),CIS,1532

In [4]:
engine.table_names()

['satellite_category', 'country', 'country_satellite']

In [5]:
#data_cnt = pd.read_sql_query('select * from country', con=engine).head()
data_cnt = engine.execute("select * from country where country_code in ('CIS', 'US')", con=engine)

In [6]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:

datetime='2020-10-23'
data_symbol = {
    "country_code": "",
    "satellite_name": "", 
    "satellite_id": "", 
    "sat_intl_code": "", 
    "sat_launch_date": "", 
    "sat_period": ""

}
offsetVal=0

In [8]:


for record in data_cnt: 
    time.sleep(1)
    url = "https://www.n2yo.com/satellites/?c="+record['country_code']+"&t=country"
    browser.visit(url)
    time.sleep(200)
    html = browser.html 
    soup = bs(html, "html.parser") 
    data_array = [] 
    avg_temps = soup.find("table", class_="footable")     
    paragraphs = avg_temps.find_all('tr') 
    for para in paragraphs: 
        data_symbol={}
        try:
            data_symbol["country_code"] = record['country_code'] 
            data_symbol["satellite_name"] = para.find_all('td')[0].text 
            data_symbol["satellite_id"] = para.find_all('td')[1].text 
            data_symbol["sat_intl_code"] = para.find_all('td')[2].text
            tot_vol_str_data= para.find_all('td')[3].text            
            if (tot_vol_str_data.find('-0001') != -1):
                tot_vol_str_data=str(tot_vol_str_data).replace('-0001','2020')
            else:
                data_symbol["sat_launch_date"] = para.find_all('td')[3].text            
            if (para.find_all('td')[4].text != "-"):
                data_symbol["sat_period"] = para.find_all('td')[4].text
            else:
                data_symbol["sat_period"] = 0          
            data_array.append(data_symbol)
        except:
            pass
    data_array_df = pd.DataFrame(data_array)
    data_array_df.to_sql(name='country_satellite', con=engine, if_exists='append', index=False)

In [9]:
pd.read_sql_query('select * from country_satellite', con=engine).head()

,country_code,satellite_name,satellite_id,sat_intl_code,sat_launch_date,sat_period
0,CIS,COSMOS 2547 (GLONASS),46805,2020-075A,"October 25, 2020",677.1
1,CIS,SOYUZ MS-17,46613,2020-072A,"October 14, 2020",93
2,CIS,GONETS M 19,46488,2020-068C,"September 28, 2020",115.9
3,CIS,GONETS M 18,46487,2020-068B,"September 28, 2020",115.9
4,CIS,GONETS M 17,46486,2020-068A,"September 28, 2020",115.9

In [10]:
browser.quit()